body{
  background-color:rgb(34,34,38);
  color: rgb(119,119,119);
}
.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav content content";
  grid-template-rows:  60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

}
.app-wrapper-content{
  grid-area: content;
  max-width: 1200px;
  background-color: rgb(51,51,54);
}